<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel = "stylesheet" href="/css/styles.css">
</head>

<body>
<div class="main-content">
    {{>header}}
    <!-- <p>Created by {{name}}</p> -->

    <p>This site is created by Yasir Arafath. It uses data from mapbox.com</p>
    <br>
    <br>
    <img class="portrait" src ="/img/Capture.PNG">

</div>

    {{>footer}}
</body>

</html>
